.dropdown-item {
  cursor: pointer;
  transition: all 0.5s;
}
.dropdown-toggle {
  font-size: 18px;
  transition: all 0.5s;
}
@media (max-width: 550px) {
  .dropdown-toggle {
    font-size: 15px;
  }
}
