.btn-ir {
  width: 30%;
}
.ir-align {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  justify-content: space-around;
}
.ir-codes {
  width: 30%;
}
.ir-group-codes {
  display: flex;
  justify-content: space-between;
}
