.smart-ir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 0;
  user-select: none;
}
.ir-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ir-block-top,
.ir-block-center,
.ir-block-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.ir-block-vol,
.ir-block-chanel {
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ir-block-ok-menu {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.ir-block-ok-menu .ir-buttons {
  border: none;
  border-radius: 50%;
}
.ir-block-vol .ir-buttons,
.ir-block-chanel .ir-buttons {
  border: none;
}
.ir-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  transition: all 0.8s;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.ir-buttons:hover {
  cursor: pointer;
}
.ir-buttons:active {
  background-color: #ccc;
  color: #4abced;
}
.ok-up-container,
.ok-down-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back,
.exit {
  border-radius: 6px;
}

.btn-pow {
  border-radius: 6px;
}
.btn-pow:active {
  color: red;
}
.numbers {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -200%;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.numbers-top,
.numbers-center,
.numbers-bottom,
.numbers-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.numbers-last {
  justify-content: center;
  gap: 60px;
}
.number {
  border-radius: 50%;
}
