.smart-ir {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  gap: 3px;
}
.ir-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ir-block-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ir-block-vol-ch {
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.ir-block-ok-menu {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.ir-block-ok-menu .ir-button {
  border: none;
  border-radius: 50%;
}
.ir-block-vol-ch .ir-button {
  border: none;
}
.ir-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  transition: all 0.8s;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.ir-button:hover {
  cursor: pointer;
}
.ir-button:active {
  background-color: #ccc;
  color: #4abced;
}
.ok-up-container,
.ok-down-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-pow:active {
  color: red;
}
.ir-numbers {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1.5rem;
  height: 100%;
  background-color: white;
  transition: max-height 0.3s ease-in-out;
  max-height: 260px;
  overflow: hidden;
}
.ir-numbers-hidden {
  max-height: 0;
  padding: 0;
}
.ir-numbers-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ir-numbers-last {
  justify-content: center;
  gap: 60px;
}
.ir-number {
  border-radius: 50%;
}
