.smart-ir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0;
  user-select: none;
}
.ir-buttons {
  padding: 0.7rem;
  border-radius: 50%;
  transition: all 0.8s;
}
.simple-button {
  border: 1px solid #ccc;
  max-width: 4rem;
  border-radius: 6px;
  margin: 0 0.7rem;
}
.number {
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0.6rem 1.5rem;
}

.back,
.exit {
  border-radius: 6px;
}
.ir-block {
  display: flex;
  flex-direction: column;
}
.power {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.power .btn-pow {
  border: 1px solid #ccc;
  border-radius: 6px;
}
.power .ir-buttons {
  margin: 0 auto;
}
.numbers {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.ok-menu {
  width: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ok-up {
  margin: 0 2rem;
}
.vol {
  margin-right: 0.35rem;
}
.chanel {
  margin-left: 0.35rem;
}
.vol,
.chanel {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ir-buttons:hover {
  cursor: pointer;
}
.ir-buttons:active {
  background-color: #ccc;
  color: #4abced;
}
.btn-pow:active {
  color: red;
}
