.deleted-device * {
  margin: 0;
  padding: 0;
}
.deleted-device {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
}
.deleted-device-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleted-device-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleted-device-icon svg {
  width: 35px;
  height: 35px;
}
.deleted-device-name {
  margin-left: 0.3rem;
  font-size: 1.1rem;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.deleted-device-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-right: 0.3rem;
}
.deleted-device-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.1rem;
}
.recover-device-btn:hover {
  color: var(--hover-color);
}
.destroy-device-btn:hover {
  color: var(--custom-red);
}
