.schedule {
  display: flex;
  background-color: transparent;
  width: 100%;
  flex-direction: column;
  padding: 0.7rem 0;
  padding-top: 0.3rem;
  position: relative;
  height: 160px;
  margin-top: 0.5rem;
  overflow: hidden;
}
.schedule-top {
  width: 100%;
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.schedule-device {
  width: 160px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.schedule-device img {
  max-width: 60px;
  max-height: 70px;
}
.schedule-device p {
  font-size: 1rem;
  font-weight: 600;
  word-break: break-all;
  width: 100%;
  height: 48px;
  margin: 0;
  text-align: center;
}
.arrow-right {
  width: 3rem;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-action {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-text {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 4px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  height: 30px;
}
.schedule-text p {
  margin: 0;
  margin-left: 0.3rem;
  margin-right: 0.1rem;
  margin-bottom: -0.2rem;
  height: 30px;
  color: #6a6a6a;
  font-weight: 600;
}
.schedule-time {
  margin-bottom: 0.2rem;
  margin-top: -1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-time-group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.schedule-time-group p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.schedule-time-group .schedule-clock-icon {
  margin: 0 0.3rem;
  margin-bottom: 0.2rem;
}
.schedule-time-group .schedule-repeat-once-icon {
  position: absolute;
  bottom: 0.3rem;
  right: -1.5rem;
}
.schedule-repeat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-repeat p {
  font-size: 0.8rem;
  width: 45px;
  height: 30px;
  padding: 0.3rem;
  margin: 0.3rem;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
}
