.schedule {
  display: flex;
  background-color: transparent;
  width: 100%;
  flex-direction: column;
  position: relative;
  height: 160px;
  margin-top: 0.5rem;
}
.schedule-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.schedule-scene-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
}
.schedule-scene-name-img {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.schedule-scene-name-img svg {
  max-width: 70px;
  max-height: 70px;
}
.schedule-scene-name-img p {
  width: 140px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.arrow-right {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-text {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 4px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  height: 30px;
  gap: 3px;
}
.schedule-text p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #6a6a6a;
}
.schedule-time {
  margin-bottom: 0.2rem;
  margin-top: -1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-time-group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.schedule-time-group p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.schedule-time-group .schedule-clock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.3rem;
}
.schedule-time-group .schedule-repeat-once-icon {
  margin-left: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-repeat {
  width: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-repeat p {
  font-size: 0.8rem;
  width: 45px;
  height: 30px;
  padding: 0.3rem;
  margin: 0.3rem;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
}
