.dev-step-contn {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  user-select: none;
}
.dev-step {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 600px;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}
.dev-step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90%;
  max-height: 480px;
  overflow: auto;
  border-radius: 6px;
  border: var(--dashed-border-basic);
}
.dev-step-name-setup {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
}
.dev-step-all-groups {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
}
.dev-step-type-groups-contn,
.dev-step-sub-type-groups-contn {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dev-step-type-groups-contn {
  align-items: center;
  width: 260px;
  border-right: var(--dashed-border-basic);
}
.dev-step-sub-type-groups-contn {
  width: 100%;
}
.dev-step-groups-title {
  font-size: 1.1rem;
  width: 100%;
  font-weight: 600;
  color: black;
  padding: 0.5rem 0;
  border-bottom: var(--dashed-border-basic);
}
.dev-step-type-groups,
.dev-step-sub-type-groups {
  display: flex;
  width: 100%;
  align-items: center;
  overflow-y: auto;
  padding: 0.5rem 0;
}
.dev-step-type-groups {
  flex-direction: column;
  gap: 0.5rem;
}
.dev-step-sub-type-groups {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.dev-step-type-group,
.dev-step-sub-type-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  border-color: black;
  width: 130px;
  font-size: 1rem;
}
.dev-step-type-group svg,
.dev-step-sub-type-group svg {
  width: 40px;
  height: 40px;
}
.dev-step-type-group p,
.dev-step-sub-type-group p {
  width: 120px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dev-step-sub-type-group img {
  position: absolute;
  top: 5px;
  left: 5px;
  max-width: 25px;
  height: 15px;
}
.dev-step-sub-type-group-disabled {
  border-color: #ccc;
  color: #ccc;
  cursor: initial;
}
.dev-step-type-group-selected,
.dev-step-sub-type-group-selected {
  border-color: var(--hover-color);
  background-color: var(--hover-color-tran);
}
.dev-step-empty-sub-type-groups {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.dev-step-empty-sub-type-groups p {
  font-size: 1.2rem;
  color: black;
  width: 100%;
}
.dev-step-device-config {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.dev-step-sub-device-contn,
.dev-step-select-group-contn,
.dev-step-select-conn-type-contn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  max-width: 515px;
}
.dev-step-sub-device-contn {
  border-bottom: var(--dashed-border-basic);
}
.dev-step-sub-device-contn-hidden {
  display: none;
}
.dev-step-buttons {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  gap: 2rem;
}
.dev-step-summar-data-contn {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.dev-step-summar-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.dev-step-summar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.dev-step-summar-data-row {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
}
.dev-step-summar-data-row p {
  word-wrap: break-word;
  max-width: 200px;
}
.dev-step-summar-data-row svg {
  width: 30px;
  height: 30px;
}
.dev-step-summar-attr-row {
  align-items: flex-start;
  text-transform: capitalize;
}
.dev-step-summar-attr {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
}
.dev-step-attribute-data-row {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
}
.dev-step-attribute-data-row p {
  text-transform: lowercase;
}
.dev-step-attribute-data-row p::first-letter {
  text-transform: uppercase;
}
.dev-step-prev-steps-required {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}
.dev-step-res-msg-contn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  width: 100%;
}
@media (max-width: 768px) {
  .dev-step-contn {
    padding: 0.5rem;
    padding-left: 0;
    background-color: white;
  }
  .dev-step {
    padding: 0;
  }
  .dev-step-content {
    height: 85%;
    max-height: 440px;
  }
  .dev-step-type-groups-contn {
    width: 180px;
  }
  .dev-step-sub-type-groups {
    gap: 0.5rem;
  }
  .dev-step-groups-title {
    font-size: 1rem;
  }
  .dev-step-type-group p,
  .dev-step-sub-type-group p {
    font-size: 0.75rem;
  }
  .dev-step-type-group svg,
  .dev-step-sub-type-group svg {
    width: 35px;
    height: 35px;
  }
  .dev-step-type-group img,
  .dev-step-sub-type-group img {
    max-width: 20px;
    height: 10px;
  }
  .dev-step-type-group p,
  .dev-step-sub-type-group p {
    width: 80px;
  }
  .dev-step-type-group,
  .dev-step-sub-type-group {
    width: 90px;
  }
  .dev-step-empty-sub-type-groups p {
    font-size: 1rem;
  }
  .dev-step-sub-device-contn,
  .dev-step-select-group-contn {
    max-width: 350px;
  }
  .dev-step-summar-data {
    gap: 0.5rem;
  }
}
