.power-btn {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  color: #ccc;
  cursor: pointer;
}

.power-btn-checked {
  color: var(--active-color);
}
