.smart-temp-sensor {
  position: relative;
  width: 100%;
  min-height: 120px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.temp-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.temp-item {
  display: flex;
  align-items: center;
}
.temp-item-icon {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.temp-item p {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  width: 85px;
}
