.devices-container {
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
}

.devices {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: calc(100% - var(--toolbar-height));
  width: 100%;
  padding: 1rem;
  gap: 2rem;
  overflow: auto;
}

.refresh-icon {
  border-radius: 50%;
  padding: 0.4rem;
}
.refresh-icon:hover {
  background-color: rgba(227, 227, 227, 0.377);
  cursor: pointer;
}
.refresh-icon:active {
  background-color: rgb(219, 219, 219);
}

@media (max-width: 768px) {
  .devices {
    padding: 0.5rem;
    gap: 1rem;
  }
}
