.smart-siren {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  position: relative;
  height: 100%;
}
.siren-sensors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  height: 40px;
}
.siren-sensors-hidden {
  display: none;
}
.siren-sensor-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
}
.siren-sensor-item p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.siren-control {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.siren-option {
  width: 100px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.siren-option input {
  width: 90px;
}
.siren-volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.siren-btn {
  width: 110px;
  height: 110px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  user-select: none;
}
.siren-btn-info {
  border-top: 2px solid black;
  margin: 0;
  margin-top: 0.5rem;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  color: inherit;
}
.siren-active {
  border-color: var(--active-color);
  color: var(--active-color);
}
.siren-btn:hover {
  background-color: #efefef;
  cursor: pointer;
}
.siren-btn:active {
  background-color: #d4d4d4;
}
