.weather-scene {
  display: flex;
  background-color: transparent;
  width: 100%;
  flex-direction: column;
  padding: 0.7rem 0rem;
  position: relative;
  height: 160px;
  margin-top: 0.5rem;
}
.weather-scene-top {
  width: 100%;
  /* margin-top: 0.4rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weather-scene-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 100%;
}
.weather-scene-name-img {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather-scene-item img {
  width: 60px;
}
.weather-scene-item p {
  font-size: 1rem;
  font-weight: 600;
  word-break: wrap;
  width: 100%;
  height: 60px;
  margin: 0;
  text-overflow: ellipsis;
  text-align: center;
}
.weather-scene-text {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 4px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  height: 30px;
}
.weather-scene-text p {
  margin: 0;
  height: 30px;
  margin-left: 0.3rem;
  margin-bottom: -0.2rem;
  color: #6a6a6a;
}
.weather-scene-location {
  display: flex;
  margin-bottom: 1rem;
}
.weather-scene-location p {
  margin: 0;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  height: auto;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.weather-scene-temperature {
  display: flex;
}
.weather-scene-temperature p {
  margin: 0;
  font-size: 1.6rem;
  height: auto;
}
