.device-item {
  max-width: 20rem;
  min-width: 20rem;
  min-height: 6rem;
  margin: 0.5rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 9px;
  padding: 0.5rem;
  box-shadow: 1px 1px 14px 1px #888888;
  text-align: center;
  transition: all 0.4s;
}
.device-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.icon-expand {
  transition: all 0.5s;
  padding: 0.2rem;
  margin-left: -0.5rem;
}
.device-img {
  min-height: 40px;
  max-height: 80px;
  max-width: 80px;
  min-width: 40px;
  margin: 0;
  padding: 0;
}
.device-name:hover,
.device-img:hover,
.icon-expand:hover {
  cursor: pointer;
}
.device-name {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 8rem;
  word-wrap: break-word;
}
.device-name * {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.device-name h4 {
  font-size: 1rem;
  font-style: oblique;
}
.device-name h3 {
  font-size: 1.5rem;
}
.fav-icon {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  transition: all 0.5s ease-in-out;
}
.fav-icon:hover {
  cursor: pointer;
}
.icon-edit {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.icon-edit:hover {
  cursor: pointer;
  color: blue;
}
.vertical-menu {
  margin: 0;
  position: relative;
  background-color: transparent;
}
.vertical-menu-item {
  display: none;
  position: absolute;
  left: -4rem;
  margin: 0.3em 1em;
  transition: all 0.5s;
  z-index: 10;
  text-align: left;
}

.label-sub-menu img:hover {
  background-color: rgba(204, 204, 204, 0.429);
  border-radius: 50%;
}
.checkbox-sub-menu:checked ~ .label-sub-menu img {
  background-color: rgba(204, 204, 204, 0.629);
  border-radius: 50%;
}

.label-sub-menu {
  background-color: transparent;
  max-height: 2rem;
  margin-left: 0.2rem;
}
.label-sub-menu img {
  transition: all 0.5s;
  padding: 0.6rem;
}
.label-sub-menu:hover {
  cursor: pointer;
}

.vertical-menu ul {
  position: relative;
  top: 1rem;
  right: 4.5em;
  margin: 0;
  list-style: none;
  padding: 0;
  box-shadow: 2px 2px 25px 1px #888888;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.vertical-menu-item li {
  list-style-type: none;
  background-color: white;
  width: 180px;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  transition: all 0.4s ease-in-out;
}

.vertical-menu-item li:hover {
  background-color: #ccc;
  cursor: pointer;
}
