.smart-alarm-siren {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  margin: 0.3rem 0;
  position: relative;
}
.siren-alarm-sensors {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.siren-alarm-sensor-item {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0rem;
}
.siren-alarm-temp-item {
  margin-left: 0.6rem;
}

.siren-alarm-sensor-item p {
  margin: 0;
  margin-left: 0.3rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.siren-alarm-control {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

.siren-alarm-btn {
  padding: 0.8rem;
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
}
.siren-alarm-btn-info {
  border-top: 1px solid black;
  margin: 0;
  margin-top: 0.5rem;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  color: inherit;
}
.siren-alarm-active {
  border-color: var(--active-color);
  color: var(--active-color);
}
.siren-alarm-btn:hover {
  background-color: #efefef;
  cursor: pointer;
}
.siren-alarm-btn:active {
  background-color: #d4d4d4;
}
.siren-alarm-options {
  width: 80px;
  max-height: 100%;
  margin-left: 0.7rem;
}
.siren-alarm-options select,
.siren-alarm-options input {
  width: 90%;
}
.siren-alarm-volume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.volume-control-icon {
  margin-right: 0.4rem;
}
