.hidden {
  display: none;
}
.active-color {
  color: revert;
}
.green-active-color {
  color: green;
}
.inactive-color {
  color: #ccc;
}
.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100% - var(--navbar-height));
  width: 100%;
  background-color: var(--bck-page-default);
}
.btn-set-scene {
  width: 140px;
}

/* empty page*/
.empty-page {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-page-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  cursor: pointer;
  color: var(--active-color);
}
.empty-page-inner p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2rem;
}

/* toolbar */
.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: var(--toolbar-height);
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  box-shadow: var(--box-shadow-default);
  z-index: 9;
  transition: all 0.3s ease-out;
}
.toolbar-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.apply-filters-section {
  display: flex;
  justify-self: flex-end;
}
.toolbar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  user-select: none;
}
.toolbar-item > label {
  margin-right: 0.4rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolbar-item-refresh {
  display: flex;
}
.toolbar-item-filter {
  display: none;
}
.toolbar-filter-btn {
  background: transparent;
  border: none;
  padding: 0.3rem;
  border-radius: 6px;
}
.toolbar-filter-btn:hover {
  cursor: pointer;
  background-color: var(--bck-grey-light-hover-color);
}
.toolbar-add-btn {
  background-color: var(--active-color) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 6px;
  border-color: var(--active-color) !important;
}
.toolbar-add-btn:hover,
.toolbar-add-btn:active {
  background-color: var(--hover-color) !important;
}
.toolbar-add-btn:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--active-color),
    0 1px 2px 0 rgb(0, 0, 0);
}
.active-filter-indicator {
  display: block;
  position: absolute;
  top: 6px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}
.toolbar-item-filter-indicator {
  display: block;
  position: absolute;
  top: 8px;
  left: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
}
.toolbar-item-filter-indicator-hidden {
  display: none;
}
.active-filter-indicator-hidden {
  display: none;
}
.toolbar-item-apply {
  display: none;
}
.toolbar-vertical-line {
  display: block;
  width: 0px;
  height: 80%;
  float: left;
  border: 1px inset;
}
.colapse-toolbar-btn {
  position: absolute;
  right: 2rem;
  top: 5rem;
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colapse-toolbar-btn:hover {
  background-color: var(--bck-grey-light-hover-color);
}
.dropdown-template {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  max-width: 120px;
  font-size: 1rem;
}

/* vertical menu */
.vertical-menu {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  user-select: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
.vertical-menu:hover {
  background-color: var(--bck-grey-hover-color);
  cursor: pointer;
}
.vertical-menu-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 568px) {
  .toolbar {
    padding: 0.2rem 0 4rem 0;
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .toolbar-expanded {
    position: absolute;
    max-height: 100%;
    height: 100%;
  }
  .toolbar-section {
    width: 100%;
    justify-content: center;
  }
  .device-filters-section {
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 500px;
  }
  .toolbar-item-apply,
  .toolbar-item-filter {
    display: flex;
  }
  .toolbar-vertical-line {
    display: none;
  }
}

/*Forms*/
/*initial form styles */
.form-input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  max-width: 350px;
}
.form-input-group-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}
.form-input-group-inline input {
  max-width: 120px;
}
.form-error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.form-error-msg-hidden {
  max-height: 0;
}

/* Auth form */
.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0.5rem 0.5rem;
  transition: all 0.4s ease-in-out;
  overflow: auto;
}
.auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 30px 20px 20px 20px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  gap: 1rem;
}
.auth-form-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.auth-form-inputs {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.auth-form-input-group {
  width: 100%;
  max-width: 350px;
}
.auth-external-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.auth-invalid-input-msg {
  display: flex;
  gap: 5px;
  padding-left: 0.3rem;
  width: 100%;
  max-height: 50px;
  transition: all 0.4s ease-in-out;
  color: red;
  font-size: 0.85rem;
}
.auth-invalid-input-msg svg {
  margin-top: 3px;
}
.auth-invalid-input-msg-hidden {
  max-height: 0;
  overflow: hidden;
}

/* Add form */
.add-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0.5rem 0.5rem;
  transition: all 0.4s ease-in-out;
  overflow: auto;
}
.add-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 30px 20px 20px 20px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  gap: 1rem;
}
.add-form-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.add-form-inputs {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* overwrited form styles */
.form-button-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

@media (max-width: 568px) {
  .add-form,
  .auth-form {
    width: 95%;
    max-width: 420px;
  }
}

/* overwrite primereact default stepper styles*/
.p-stepper.p-stepper-vertical .p-stepper-panel:last-of-type .p-stepper-content {
  padding-left: 1.4rem;
}
.p-stepper-title {
  font-size: 1.3rem;
}
.p-stepper.p-stepper-vertical .p-stepper-panel .p-stepper-separator {
  margin-inline-start: 0.8rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  max-width: 460px;
}
