:root {
  /* red colors */
  --custom-red: #e60b0b;
  --hover-custom-red: #b70505;

  /* blue colors */
  --light-blue: #007bff; /* primereact light-blue theme primary color */
  --hover-blue: #0062cc; /* primereact light-blue theme primary color hover */
  --light-blue-tran: rgba(0, 123, 255, 0.15);

  /* purple colors */
  --light-purple: rgb(180, 94, 255);
  --hover-purple: rgb(151, 31, 255);
  --light-purple-tran: rgba(180, 94, 255, 0.15);

  /* indigo colors */
  --light-indigo: #6366f1; /* primereact light-indigo theme primary color */
  --hover-indigo: #4338ca; /* primereact light-indigo theme primary color hover */
  --light-indigo-tran: rgba(99, 101, 241, 0.25);

  /* grey colors */
  --light-grey: rgb(84, 84, 84);
  --bck-page-default: rgb(220, 220, 220);
  --bck-grey-hover-color: #ccccccc7;
  --bck-grey-light-hover-color: #cccccc5f;
  --bck-grey-active-color: #cccccc87;
  --transp-grey-bck: #a7a7a7aa;
  --bck-hover-color: linear-gradient(to right, #cbcbcba2, #f0f0f069);

  /*========== default colors ============*/
  --active-color: var(--light-indigo);
  --hover-color: var(--hover-indigo);
  --hover-color-tran: var(--light-indigo-tran);
  --danger-color: var(--custom-red);
  --hover-danger-color: var(--hover-custom-red);

  /* heights */
  --toolbar-height: 68px;
  --navbar-height: 100px;

  /* borders */
  --dashed-border-basic: 3px dashed #e0e0e0;

  /* shadow */
  --box-shadow-default: 1px 1px 14px 1px #888888;
}
html {
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
* {
  font-family: 'Red Hat Display', sans-serif;
  /* margin: 0;
  padding: 0;*/
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
input {
  cursor: revert;
}
