.user-profile-container * {
  margin: 0;
  padding: 0;
}
.user-profile-container {
  min-width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 0.3rem;
}

.user-profile-top {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.user-img-name {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}
.user-img-name:hover {
  cursor: pointer;
}
.user-img-name img {
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img-name h3 {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  color: white;
  user-select: none;
}

.profile-dropdown-list {
  width: 140px;
  border-radius: 5px;
  position: absolute;
  visibility: visible;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 1;
  display: flex;
  background-color: white;
  box-shadow: var(--box-shadow-default);
  z-index: 99;
  padding: 0.3rem;
  transition: all 0.2s ease-in-out;
}
.profile-dropdown-list-hidden {
  opacity: 0;
  transform: translateY(70%);
  z-index: -999;
  visibility: hidden;
}
.profile-dropdown-list::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 40%;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
}
.profile-dropdown-list ul {
  background-color: inherit;
}
.user-profile-item {
  color: black;
  list-style: none;
  border-radius: 3px;
  margin: 0.2rem;
  padding: 0.2rem;
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
  transition: padding 0.3s ease-in-out, color 0.3s ease-in-out;
}
.user-profile-item:hover {
  background: var(--bck-hover-color);
  cursor: pointer;
  color: var(--hover-color);
  padding-left: 1rem;
  border-left: 3px solid var(--hover-color);
}
.user-profile-item-red:hover {
  color: var(--custom-red);
  border-left: 3px solid var(--custom-red);
}
.user-profile-item span {
  margin-left: 0.5rem;
}

@media (max-width: 1020px) {
  .user-img-name img {
    width: 40px;
  }
  .user-img-name h3 {
    font-size: 1rem;
  }
  .user-profile {
    min-width: 135px;
  }
}
