.smart-ir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ir-buttons {
  padding: 0.7rem;
  border-radius: 50%;
  transition: all 0.8s;
}
.simple-button{
  border: 1px solid #ccc;
  max-width: 4rem;
  border-radius: 6px;
  margin: 0 0.7rem;
}
.number{
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 1rem 1.5rem;
}
.power {
  margin: 0 8rem;
}
.back,.exit{
  border-radius: 6px;
}
.ir-block {
  display: flex;
  flex-direction: column;
}
.ok-menu {
  width: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ok-up {
  margin: 0 2rem;
}
.vol,
.chanel {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ir-buttons:hover {
  cursor: pointer;
}
.ir-buttons:active {
  background-color: #ccc;
  color: #4abced;
}
.btn-pow:active {
  color: red;
}
